/.cache
/.dap-breakpoints
/.lsp-session-v1
/abbrev_defs
/auto-save-list/
/bookmarks
/eclipse.jdt.ls/
/el-get/
/ellama-sessions/
/ellama/
/eln-cache/
/elpa/
/emojis/
/emacs-custom-settings.el
/eshell/
/history
/image-dired/
/multisession/
/package-logs/
/projectile-bookmarks.eld
/projects
/racket-mode/
/recentf
/session.*
/tramp
/tree-sitter/
/url/
/workspace/
