/.cache
/.dap-breakpoints
/.lsp-session-v1
/abbrev_defs
/auto-save-list/
/bookmarks
/eln-cache/
/elpa/
/emojis/
/emacs-custom-settings.el
/eshell/
/history
/paradox-logs/
/projectile-bookmarks.eld
/projects
/racket-mode/
/recentf
/session.*
/tramp
/transient/
/url/
